# Node.js
node_modules/
npm-debug.log

# Environment files (for storing sensitive info like API keys)
.env
.env.local
.env.*.local


# Log files
*.log

# Build directories (if applicable)
build/
dist/
out/

# Package-lock files (if using npm or yarn)
package-lock.json
